@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@300;400&family=Poppins:wght@400;500;700&family=Roboto:wght@100&family=Sacramento&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}




.card{
    display: flex;
    padding: auto;
    border: 1px solid lightgray;
    width: 680px;
    height: 350px;
    align-items: center;
    border-radius: 16px;
    padding-left: 10px;
    
   

}
.btn{
    background-color: #FFB830;
    color: white;
    border-radius: 16px;
    font-size: 16px;
}
.image{
    border-radius: 16px;
    width: 220px;
    height: 325px;
}
.card1{
    padding-left: 20px;
    
    
}
.btn1{
    background-color: black;
    color: white;
    font-size: 15px;
    border-radius: 3px;
}
.btn2{
    font-size: 15px;
    border-radius: 3px;

}
.cont{
    width: 450px;
}

.alt{
    color: gray;
    
}